* {
    padding: 0 12px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
}

nav {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

nav.desktop {
    height: 100px;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav a {
    display: flex;
    flex-direction: column;
    float: right;
    margin: 10px 0 0 0;
    text-decoration: none;
    color: gray
}

nav a:hover {
    text-decoration: none;
    color: black;
    font-size: 35px;
    border-style: solid;
    border-color: rgba(255, 166, 0, 0.849);
    border-radius: 5px;
}

.banner-div {
    max-width: 100%;
    font-size: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.banner {
    font-family: 'Bebas Neue', cursive;
    font-size: 3vw;
}

.first-textbox {
    text-align: center;
    align-content: center;
    font-size: 30px;
    margin-top: 150px;
}

.banner-div .line {
    color: gray;
    width: 48%;
    border-bottom: 2px solid #000;
    max-width: 100%;
}

.for-space {
    height: 100px;
}

.space-jumbo {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.name {
    float: left;
    margin-left: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 5vw;
    list-style-type: none;
    font-weight: 700px;
    letter-spacing: 2px;
}

.circle1 {
    background-color: rgba(255, 166, 0, 0.849);
    opacity: 80%;
    height: 100px;
    border-radius: 50%;
    width: 17vw;
    height: 17vw;
    margin-left: 15vw;
    float: left;
    position: relative;
    overflow: visible;
}

.circle2 {
    width: 17vw;
    height: 17vw;
    display: block;
    float: right;
    position: relative;
    overflow: visible;
    margin-right: 11vw;
}

.circle2:before {
    background-color: lightgrey;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    opacity: 40%;
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    content: '';
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    border-radius: 50%;
    width: 17vw;
    height: 17vw;
    opacity: 40%;
    position: relative;
}

.circle2 .line,
.circle1 .line {
    position: absolute;
    bottom: 20px;
    width: 28vw;
    display: flex;
    align-items: center;
    left: 0;
}

.circle1 .line {
    left: auto;
    right: 0;
    top: 40px;
    bottom: auto;
}

.circle2 .line:before,
.circle1 .line:before {
    content: '';
    width: 840px;
    border-bottom: 1px solid #828282;
    display: block;
    height: 1px;
    margin-right: 10px;
}

.circle1-wrap {
    margin-top: -5vw;
    margin-bottom: -5vw;
}

.first-textbox {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    letter-spacing: 2px;
}

.col-6 a:hover {
    filter: blur(1px);
    opacity: 70%;
    margin-left: 5px;
}

.footer {
    height: 200px;
}

.image-1 {
    display: flex;
}


/* canvas page*/

.clearfix {
    overflow: hidden;
    clear: both;
}

.container-1 {
    width: auto;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    justify-content: center;
    display: flex;
}

.content-1 {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-line {
    border-bottom: 2px solid #000;
    width: 600px;
    max-width: 100%;
    margin-top: 20px;
    float: right;
}

nav.mobile ul {
    position: fixed;
    background-color: #fff;
    right: 0;
    width: 200px;
    height: 100%;
    z-index: 22;
    top: 0;
}

nav.mobile ul {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: flex-end;
    padding: 20px 10px;
    box-shadow: -20px 0px 16px 0px rgb(0 0 0 / 5%);
    width: 0;
    overflow: hidden;
    opacity: 0;
    margin-top: 0;
}

.burger {
    display: none;
}

.burger,
.burger:before,
.burger:after {
    height: 4px;
    background-color: #000;
    width: 30px;
    /* display: block; */
    position: absolute;
    right: 40px;
    top: 38px;
}

.burger:before {
    content: '';
    right: 0;
    top: 10px
}

.burger:after {
    top: -10px;
    content: '';
    right: 0;
}

.close span {
    position: relative;
    /* right: 9px; */
    top: 4px;
    right: -4px;
}

.close span:before,
.close span:after {
    width: 20px;
    height: 3px;
    background-color: #000;
    position: absolute;
    content: '';
    transform: rotate(50deg);
    right: 0;
    top: 10px;
}

.close span:after {
    transform: rotate(-50deg);
}

nav.mobile.show ul {
    width: 200px;
    opacity: 1;
}

nav.mobile ul {
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
}

.contact-form {
    padding-top: 30px;
}

.canvas .container-1 {
    padding: 5% 0;
}

.digital h1 {
    text-align: center;
    padding: 20px 0 0;
}

@media only screen and (max-width: 980px) {
    .burger {
        display: block;
    }
    nav.desktop ul,
    .first-line {
        display: none;
    }
    nav.desktop {
        height: auto;
    }
    .name {
        padding-top: 14px;
    }
    .first-textbox {
        margin-top: 0;
        font-size: 6vw;
        line-height: 1.3em;
        height: auto;
    }
    .row.no-gutters {
        align-items: center !important;
        justify-content: center !important;
    }
    .click-images {
        text-align: center;
        padding: 0 !important;
    }
    .contact-form,
    .digital {
        padding-top: 20px;
    }
    .digital h1 {
        font-size: 7vw;
    }
}

@media only screen and (max-width: 768px) {
    .circle2,
    .circle1-wrap {
        display: none;
    }
    .banner-div {
        flex-direction: column;
        margin-top: 50px;
    }
    .banner {
        font-size: 6vw;
    }
    .circle {
        margin-top: -20px;
    }
    .first-textbox {
        margin-top: 20px;
    }
    .container-fluid img {
        margin: 0 auto;
        padding: 0;
    }
    .col-6 {
        padding: 0 !important;
    }
    .footer {
        height: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .name {
        font-size: 30px;
        margin: auto;
    }
    .row {
        flex-direction: column;
    }
    .col-6 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}